## Strings

In [1]:
a = "Hello"
b = "World"

a==b

False

In [2]:
b="Hello"
a==b

True

In [4]:
print("\'")
print('\n')

'

In [6]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)

hello
world

In [7]:
print("hello", end='')
print("Earth", end='')

helloEarth

In [8]:
device = 'smartphone'
device[0]

's'

In [11]:
device[5:]

'phone'

In [12]:
len(device)

10

In [13]:
[char+'! ' for char in device]

['s! ', 'm! ', 'a! ', 'r! ', 't! ', 'p! ', 'h! ', 'o! ', 'n! ', 'e! ']

In [14]:
device[0]='A'

TypeError: 'str' object does not support item assignment

In [15]:
device.upper()

'SMARTPHONE'

In [16]:
device.lower()

'smartphone'

In [17]:
device.index('phone')

5

In [20]:
device.startswith('phone')

False

In [21]:
device.startswith('smart')

True

In [22]:
device.endswith('phone')

True

## split and join

In [24]:
datestr = '2023-08-01'
year, month, day = datestr.split('-')

year, month, day

('2023', '08', '01')

In [25]:
'/'.join([ day, month, year])

'01/08/2023'

In [4]:
name = 'abc'
print(name + ' I miss you. ;)')

abc I miss you. ;)

In [9]:
name = 12

In [10]:
print(name + ' I miss you. ;)')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
str(name) + " I miss you.)"

TypeError: 'int' object is not callable

## Format String

In [17]:
name = "APS"
val = "close"
"{}, you'll always be {} to me.".format(name, val)

"APS, you'll always be close to me."

In [19]:
planet = "Pluto"

pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [20]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

## Sets

In [1]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'orange', 'pear', 'apple'}

In [2]:
'orange' in basket

True

In [3]:
'mango' in basket

False

In [4]:
a=set('helloworld')
b=set('saysomething')

In [5]:
a,b

({'d', 'e', 'h', 'l', 'o', 'r', 'w'},
 {'a', 'e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't', 'y'})

In [6]:
a-b                 # letters in a but not in b

{'d', 'l', 'r', 'w'}

In [8]:
a | b               # letters in a or b or both

{'a', 'd', 'e', 'g', 'h', 'i', 'l', 'm', 'n', 'o', 'r', 's', 't', 'w', 'y'}

In [9]:
a ^ b               # letters in a or b but not both

{'a', 'd', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'w', 'y'}

In [10]:
a & b               # letters in both a and b

{'e', 'h', 'o'}

## Dictionaries

A built-in Python data structure for mapping keys to values.

In [21]:
alpha_num = {'A':1, 'B':2, 'C':3}
alpha_num

{'A': 1, 'B': 2, 'C': 3}

In [23]:
alpha_num['C']

3

In [25]:
alpha_num['E'] = 5
alpha_num

{'A': 1, 'B': 2, 'C': 3, 'E': 5}

In [26]:
alpha_num['A'] = 'Manish'

In [27]:
alpha_num

{'A': 'Manish', 'B': 2, 'C': 3, 'E': 5}

In [31]:
fruits = ['apple', 'mango', 'banana', 'grapes', 'peach', 'papaya'] 
fruits_code = {fruit:fruit[0].upper() for fruit in fruits}
fruits_code

{'apple': 'A',
 'mango': 'M',
 'banana': 'B',
 'grapes': 'G',
 'peach': 'P',
 'papaya': 'P'}

In [32]:
'grapes' in fruits_code

True

In [33]:
'capri' in fruits_code

False

In [35]:
for k in alpha_num:
    print("{} = {}".format(k, alpha_num[k]))

A = Manish
B = 2
C = 3
E = 5

In [39]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
alpha_num['A'] = 10
alpha_num
# ' '.join(sorted(alpha_num.values()))

{'A': 10, 'B': 2, 'C': 3, 'E': 5}

In [41]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [42]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [43]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [44]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [11]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [12]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [13]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [17]:
dic = {x:x for x in ['a','b','r','a']}

In [18]:
dic

{'a': 'a', 'b': 'b', 'r': 'r'}

In [21]:
knights = {'gallahad': 'the pure', 'robin': 'the brave', 'hell' : 'no'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave
hell no

In [23]:
for i, v in enumerate(['m', 'a', 'n', 'i', 's', 'h']):
    print(i, v)

0 m
1 a
2 n
3 i
4 s
5 h

In [27]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [28]:
# first calculate the values and then reverse the order
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [29]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [30]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [31]:
[value for value in raw_data if not math.isnan(value)]

[56.2, 51.7, 55.3, 52.5, 47.8]